body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A5DD9B;
}

.container{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #C5EBAA;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: center;
}

h1{
    text-align: center;
    color: #239b18;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.todo-input{
    display: flex;
    margin-bottom: 20px;
}

input[type="text"]{
    flex: 1;
    padding: 10px;
    border: 1px solid #a3da4c;
    border-radius: 10px 0px 0px 10px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    border: 1px solid #a3da4c;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    cursor: pointer;
}

.todo-list{
    text-align: center;
}